# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# git
.git
.gitignore

# secrets
secrets.yml*
testrun.env*

readme*
.ruby-version
Dockerfile
.dockerignore
bin
datadir
.byebug_history
